{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4 center">
                <h1>Hello ! ✅</h1>

            </div>
        </div>
        <a class="twitter-timeline" data-lang="fr" data-theme="light"
           href="https://twitter.com/anthonyjr_/lists/energy-news-12807?ref_src=twsrc%5Etfw">A Twitter List by
            anthonyjr_</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

{% endblock %}
